<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>bundleid</key>
		<string>dev.aoki.alfred.workflow.amazon-dp-link</string>
		<key>category</key>
		<string>Tools</string>
		<key>connections</key>
		<dict>
			<key>6CE255DE-CE64-406F-9837-8F35E44B74E4</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>8B74209E-0B94-4EC1-880B-FA391B6FC2F2</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false/>
				</dict>
			</array>
			<key>8B74209E-0B94-4EC1-880B-FA391B6FC2F2</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>946DFB81-1086-4113-B99B-53000F1DF556</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false/>
				</dict>
				<dict>
					<key>destinationuid</key>
					<string>E2ACA9CA-B214-4894-AC1B-01831940D368</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false/>
				</dict>
			</array>
		</dict>
		<key>createdby</key>
		<string>aoki</string>
		<key>description</key>
		<string></string>
		<key>disabled</key>
		<false/>
		<key>name</key>
		<string>Amazon dp link</string>
		<key>objects</key>
		<array>
			<dict>
				<key>config</key>
				<dict>
					<key>autopaste</key>
					<false/>
					<key>clipboardtext</key>
					<string>{query}</string>
					<key>ignoredynamicplaceholders</key>
					<false/>
					<key>transient</key>
					<false/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.output.clipboard</string>
				<key>uid</key>
				<string>946DFB81-1086-4113-B99B-53000F1DF556</string>
				<key>version</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>argumenttype</key>
					<integer>0</integer>
					<key>keyword</key>
					<string>dp</string>
					<key>subtext</key>
					<string></string>
					<key>text</key>
					<string>DP Link Extractor</string>
					<key>withspace</key>
					<true/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.keyword</string>
				<key>uid</key>
				<string>6CE255DE-CE64-406F-9837-8F35E44B74E4</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>concurrently</key>
					<false/>
					<key>escaping</key>
					<integer>102</integer>
					<key>script</key>
					<string>./node_modules/.bin/run-node src/index.js {query}</string>
					<key>scriptargtype</key>
					<integer>0</integer>
					<key>scriptfile</key>
					<string></string>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>alfred.workflow.action.script</string>
				<key>uid</key>
				<string>8B74209E-0B94-4EC1-880B-FA391B6FC2F2</string>
				<key>version</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>lastpathcomponent</key>
					<false/>
					<key>onlyshowifquerypopulated</key>
					<true/>
					<key>removeextension</key>
					<false/>
					<key>text</key>
					<string>Copy to Clipboard DP link {query}</string>
					<key>title</key>
					<string>Copy to Clipboard Amazon "dp" link</string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.output.notification</string>
				<key>uid</key>
				<string>E2ACA9CA-B214-4894-AC1B-01831940D368</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>readme</key>
		<string></string>
		<key>uidata</key>
		<dict>
			<key>6CE255DE-CE64-406F-9837-8F35E44B74E4</key>
			<dict>
				<key>xpos</key>
				<integer>100</integer>
				<key>ypos</key>
				<integer>120</integer>
			</dict>
			<key>8B74209E-0B94-4EC1-880B-FA391B6FC2F2</key>
			<dict>
				<key>xpos</key>
				<integer>330</integer>
				<key>ypos</key>
				<integer>120</integer>
			</dict>
			<key>946DFB81-1086-4113-B99B-53000F1DF556</key>
			<dict>
				<key>colorindex</key>
				<integer>3</integer>
				<key>note</key>
				<string>Paste the content of the clipboard as plain text to the front most app</string>
				<key>xpos</key>
				<integer>610</integer>
				<key>ypos</key>
				<integer>35</integer>
			</dict>
			<key>E2ACA9CA-B214-4894-AC1B-01831940D368</key>
			<dict>
				<key>xpos</key>
				<integer>605</integer>
				<key>ypos</key>
				<integer>245</integer>
			</dict>
		</dict>
		<key>variablesdontexport</key>
		<array/>
		<key>version</key>
		<string>1.0</string>
		<key>webaddress</key>
		<string></string>
	</dict>
</plist>
